<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ room_name }} - Files</title>
        <link rel="stylesheet" href="/static/css/styles.css" />
    </head>
    <body>
        <div class="container">
            <h1>Room: {{ room_name }}</h1>
            <p>Password: {{ room_password }}</p>
            <p>User: {{ user_name }}</p>
            <p>Files: {{ file_count }} / 5</p>
            <!-- Display the file count -->

            <h2>Files</h2>
            <ul class="files-list">
                {% for file in files %}
                <li>
                    <div class="file-item">
                        {% if file.thumbnail_url %}
                        <img src="/{{ file.thumbnail_url }}" alt="Thumbnail" class="thumbnail" />
                        {% endif %}
                        <div class="file-details">
                            <a download="{{ file.name }}.{{ file.extension }}" href="/{{ file.file_url }}"
                                >{{ file.name }}.{{ file.extension }}</a
                            >
                            <span>(Added by: {{ file.added_by }})</span>
                        </div>
                        <input type="text" id="renameInput_{{ file.id }}" placeholder="New name" />
                        <button class="rename-button" onclick="renameFile('{{ file.id }}')">Rename</button>
                        <button class="delete-button" onclick="confirmDeleteFile('{{ file.id }}')">Delete</button>
                    </div>
                </li>
                {% endfor %}
            </ul>

            <h3>Upload New File</h3>
            <form id="uploadForm" class="form-group">
                <input type="file" id="fileInput" name="file" />
                <div class="upload-buttons">
                    <button type="submit" class="upload-button">Upload</button>
                    <button type="button" class="cancel-button" onclick="cancelUpload()">Cancel</button>
                </div>
                <p id="fileLimitMessage" class="error-message"></p>
                <!-- Message to show file limit error -->
            </form>

            <h3>Delete Room</h3>
            <button class="delete-button" onclick="confirmDeleteRoom('{{ room_id }}')">Delete Room</button>
        </div>

        <div class="bottom-button">
            <button onclick="location.href='/'">Voltar para a Página Inicial</button>
        </div>

        <script>
            const fileCount = {{ file_count }};
            const fileLimit = 5;

            document.getElementById("uploadForm").addEventListener("submit", async (event) => {
                if (fileCount >= fileLimit) {
                    event.preventDefault();
                    document.getElementById("fileLimitMessage").innerText = "This room only supports 5 files.";
                    return;
                }

                event.preventDefault();
                const fileInput = document.getElementById("fileInput");
                const formData = new FormData();
                formData.append("file", fileInput.files[0]);

                try {
                    const response = await fetch(`/rooms/{{ room_id }}/{{ user_name }}/files`, {
                        method: "POST",
                        body: formData,
                    });

                    if (response.ok) {
                        location.reload(); // We reload so the file is shown in the list ( could be improved by returning the details... but idc)
                    } else {
                        const errorDetail = await response.json();
                        alert(`Erro: ${errorDetail.detail}`);
                    }
                } catch (error) {
                    alert("Ocorreu um erro inesperado. Por favor, tente novamente mais tarde.");
                }
            });

            function cancelUpload() {
                const fileInput = document.getElementById("fileInput");
                fileInput.value = ""; // Clear the file input value
            }

            async function confirmDeleteFile(fileId) {
                const confirmed = confirm("Tem certeza que deseja excluir este arquivo?");
                if (confirmed) {
                    deleteFile(fileId);
                }
            }

            async function deleteFile(fileId) {
                try {
                    const response = await fetch(`/files/${fileId}`, {
                        method: "DELETE",
                    });

                    if (response.ok) {
                        location.reload(); // Same thing as add reload
                    } else {
                        const errorDetail = await response.json();
                        alert(`Erro: ${errorDetail.detail}`);
                    }
                } catch (error) {
                    alert("Ocorreu um erro inesperado. Por favor, tente novamente mais tarde.");
                }
            }

            async function confirmDeleteRoom(roomId) {
                const confirmed = confirm("Tem certeza que deseja excluir esta sala?");
                if (confirmed) {
                    deleteRoom(roomId);
                }
            }

            async function deleteRoom(roomId) {
                try {
                    const response = await fetch(`/rooms/${roomId}`, {
                        method: "DELETE",
                    });

                    if (response.ok) {
                        window.location.href = "/"; // Redirect to the home page after deleting the room
                    } else {
                        const errorDetail = await response.json();
                        alert(`Erro: ${errorDetail.detail}`);
                    }
                } catch (error) {
                    alert("Ocorreu um erro inesperado. Por favor, tente novamente mais tarde.");
                }
            }

            async function renameFile(fileId) {
                const newName = document.getElementById(`renameInput_${fileId}`).value;
                if (!newName) {
                    alert("Please enter a new name for the file.");
                    return;
                }

                try {
                    const response = await fetch(`/files/${fileId}/rename`, {
                        method: "PUT",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({ new_name: newName }),
                    });

                    if (response.ok) {
                        location.reload(); // Reload to show the updated file name
                    } else {
                        const errorDetail = await response.json();
                        alert(`Erro: ${errorDetail.detail}`);
                    }
                } catch (error) {
                    alert("Ocorreu um erro inesperado. Por favor, tente novamente mais tarde.");
                }
            }
        </script>
    </body>
</html>
